<h1 class="title has-text-primary">Games</h1>

<%= notice %>
<% if current_user %>
    <%= link_to ' Ver Perfil ', users_show_path(current_user.id)%>
<% end %>

<br>
<br>

<div class='columns'>
    <% @games.each do |game| %>
        <div class="column has-background-primary">
            <a class='is-size-2 has-text-weight-bold'><%= game.name%></a>
            <br>
            <p> Precio: $<%= game.price%> </p>
            <p>Descripción: <%= game.description %></p>
            <p> Rating: <%= game.rating %></p>
            <p> Categoria: <%= game.category %></p>
            <p><%= link_to 'View details', games_show_path(:id => game.id) %></p>
        </div>
    <% end %>
</div>

<a class='button is-primary is-outlined' href="<%= games_new_path %>">
    Crear juego
</a>
