<h1>Upload a new game</h1>
<% if user_signed_in? %>
<%= form_with(model: @game, method: :post) do |form| %>

    <div>
        <%= form.label :Name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :Rating %>
        <%= form.number_field :rating %>
    </div>

    <div>
        <%= form.label :Description %>
        <%= form.text_field :description %>
    </div>

    <div>
        <%= form.label :Price %>
        <%= form.number_field :price %>
    </div>

    <div>
        <%= form.label :Category %>
        <%= form.text_field :category %>
    </div>

    <div>
        <%= form.label :user_id %>
        <%= form.number_field :user_id, id: :user_id,  value:current_user.id,  type: "hidden"%>
    </div>

    <div>
        <%= form.submit 'Create game' %>
    </div>

<% end %>
<%else%>
Debes estar registrado o iniciado sesion:

      <%= link_to "Iniciar Sesión", new_user_session_path %>
      <%= link_to "Registrarme", new_user_registration_path %>
<%end%>

<%= link_to 'Go back', games_index_path %>
